.container {
    
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 2px;
    font-family: "Betm";
    font-size: 1em;
    padding: 0px;
}

.high-contrast-text {
    color: white;
}

.header {
    border-image: url('../../images/raggedbox-min.svg');
    border-image-slice: 100;
    border-width: 7px;
    border-style: solid;
    padding: 0x;
    font-weight: bold;

    display:flex;
    justify-content: space-between;
    height: 2em;

}

.card-body{
    border-image: url('../../images/raggedbox-min.svg');
    border-image-slice: 100;
    border-width: 0px 7px 7px 7px;
    border-style: solid;
    padding: 0x;
    padding: 5px 2px 2px 2px;
    min-height: 6rem;
    
}

