.container {
    
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 2px;
    font-family: "Betm";
    padding: 0px;
}

.header {
    border-image: url('../images/raggedbox-min.svg');
    border-image-slice: 100;
    border-width: 7px;
    border-style: solid;
    padding: 0x;
    font-weight: bold;
}

.resource-header {
    background-color: hsla(216,21%,50%);
}
.resource-body {
    background-color: hsla(216,21%,50%, 50%);
}

.structure-header {
    background-color: hsla(12,77%,73%);
}
.structure-body {
    background-color: hsla(12,77%,73%, 50%);
}

.food-header {
    background-color: hsl(27,75%,61%)
}

.food-body{
    background-color: hsl(27,75%,61%,50%)
}

.card-body{
    border-image: url('../images/raggedbox-min.svg');
    border-image-slice: 100;
    border-width: 0px 7px 7px 7px;
    border-style: solid;
    padding: 0x;
    padding: 5px 2px 2px 2px;
    min-height: 6rem;
    
}

